/* layout.html */

header {
    background-color: rgba(241, 237, 237, 0.87);
    height: 35%;
    line-height: 80px;
    width: 100%;
}

header a {
    color: #5f0f40;
    font-family: "Georgia";
    font-size: 230%;
    padding: 2% 2% 2% 3%;
    margin: 2%;
}

header a:hover {
    color: #5f0f40;
    text-decoration: none;
}

body {
    background: rgba(241, 237, 237, 0.973);
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #27c2a4;
    background-color: rgba(241, 237, 237, 0.87);
    text-align: center;
}

/* index.html */

.upload-form {
    margin: 2% auto;
    text-align: center;
    width: 80%;
    display: block;
}

.direct-upload {
    font-size: 200%;
}

#upload_files {
    margin: 1% auto;
}

.submit-btn {
    display: inline-block;
    margin: 2%;
    width: 60vh;
    border-radius: 100vh;
    color: #9a031e;
    background-color: rgba(241, 237, 237, 0.87);
}

.submit-btn:hover {
    background-color: #9a031e;
    color: rgba(241, 237, 237, 0.87);
}

.submit-icon {
    margin: 10px;
}

.history-box {
    margin: 10% auto;
    width: 50%;
}

.history-btn {
    border-radius: 100vh;
    color: #e36414;
}

.history-btn:hover {
    color: rgba(241, 237, 237, 0.87);
    background-color: #e36414;
}

/* result.html */

.result-box {
    text-align: center;
    margin: 2%;
}

/* ネザーぽいマゼンタ #5f0f40
暗い赤 #9a031e
暗いオレンジ #e36414
ライム系青 #27c2a4 */