{% extends "layout.html" %}
{% block content %}

<center class="upload-form">
    <h3>背表紙の写真をアップロードしてください</h3>
    <form action = "/upload" method="post" enctype="multipart/form-data">
        <p><input type="file" id = "upload_files" name = "upload_files" multiple="multiple" required="required" onchange="previewImage(this);"></p>
        <img id="preview" style="width: 20%;">
        <button type="submit" value="送信" class="submit-btn">
            <span class="submit-icon">送信</span><i class="fas fa-paper-plane"></i>
        </button>
    </form>
</center>

<div class="history-box">
    <button onclick="changeDisplay(this, history)"><i class="fas fa-history"></i>履歴</button>

    <div id="history" style="display: none;">
        <h3>履歴</h3>
    {% if enter_images %}
        {% for path in enter_images %}
            <img src="./static/images/image_enter/{{ path }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
            <!-- {{ path }} -->
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}

